$animation-time: 0.3s !default;

$nav-bar-item-color: $color-firm1 !default;
$nav-bar-item-background: $color-firm3 !default;
$nav-bar-item-border-color: $color-firm2 !default;
$nav-bar-item-hover-background: $color-firm7 !default;
$nav-bar-item-hover-border-color: $color-firm7 !default;
$nav-bar-item-active-color: $color-firm1 !default;
$nav-bar-item-active-border-color:$color-firm11 !default;
$nav-bar-item-active-background: $color-firm11 !default;
